#jinja2: lstrip_blocks: True
{% set neighbour = {'name': '-', 'desc': '-'} %}
{% for match in item.matches %}
    {% if 'lldp-remote-system-name' in match %}
        {% if neighbour.update({'name': match['lldp-remote-system-name']}) %} {% endif %}
    {% endif %}
    {% if 'lldp-remote-port-id' in match %}
        {% if neighbour.update({'desc': match['lldp-remote-port-id']}) %} {% endif %}
    {% endif %}
{% endfor %}
interfaces {
    {{ item.item }} {
        description "to device {{ neighbour.name }} port {{ neighbour.desc }}";
    }
}